
	body {
	text-align: center;
}

nav {
	background-color: #808080;
}





nav a {
	background-color: #ffbf00;
	color: rgba(255,255,255,1);
 	padding: 35px;
 	display: block;
	float: left;
	text-decoration: none;
}

a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

h1 {
	color: rgb(2,132,130);
}


h2, h3 {
	color:#FFd700;
}

p {
  margin: 0px 100px 0px 0px;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

a {
	text-decoration: none;
	color: red;
}
.xChrisDuran {
	text-decoration: none;
	color: red;
	}

footer {
  background-color: #808080;
}/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
